
<div class="dialog-container">
    <button mat-icon-button mat-dialog-close>
        <i class="material-icons">close</i>
    </button>

    <img src="{{emprestimo.fotoUrl | avatar}}" alt="Avatar">
    <h3>{{emprestimo.leitor}}</h3>

    <span><strong>Título: </strong> {{emprestimo.leitor}}</span>
    <span><strong>ISBN: </strong> {{emprestimo.email}}</span>
    <span><strong>Categoria: </strong> {{emprestimo.livro}}</span>
    <span><strong>Autor: </strong> {{emprestimo.telefone}}</span>
</div>