
<div class="dialog-container">
    <button mat-icon-button mat-dialog-close>
        <i class="material-icons">close</i>
    </button>

    <img src="{{emprestimo.livro.fotoUrl | avatar}}" alt="Avatar">
    <h3>{{emprestimo.leitor}}</h3>

    <span><strong>Título: </strong> {{emprestimo.livro.titulo}}</span>
    <span><strong>ISBN: </strong> {{emprestimo.livro.isbn}}</span>
    <span><strong>Categoria: </strong> {{emprestimo.livro.categoria}}</span>
    <span><strong>Autor: </strong> {{emprestimo.livro.autor}}</span>
</div>